/DynamicArray/bin/Debug/DynamicArray.dll
/DynamicArray/bin/Debug/DynamicArray.pdb
/DynamicArray/bin/Debug/DynamicArrays.dll
/DynamicArray/bin/Debug/DynamicArrays.pdb
/DynamicArray/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/DynamicArray/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DynamicArray/obj/Debug/DynamicArray.csproj.CoreCompileInputs.cache
/DynamicArray/obj/Debug/DynamicArray.csproj.FileListAbsolute.txt
/DynamicArray/obj/Debug/DynamicArray.dll
/DynamicArray/obj/Debug/DynamicArray.pdb
/DynamicArray/obj/Debug/DynamicArrays.csproj.CoreCompileInputs.cache
/DynamicArray/obj/Debug/DynamicArrays.csproj.FileListAbsolute.txt
/DynamicArray/obj/Debug/DynamicArrays.dll
/DynamicArray/obj/Debug/DynamicArrays.pdb
/DataStrucutre.sln
